<footer id="footer">
  <div class="container bg-light">
    <div class="row">

      <div class="col-md-4">

        <div class="footer-item">
          <div class="company-brand">
            <a class="navbar-brand" href="#">
              <img src="../../../assets/img/banner/Capture.PNG" alt="logo" class="footer-logo" width="200" height="194">
            </a>
            <p></p>
          </div>
        </div>

      </div>

      <div class="col-md-2">

        <div class="footer-menu">
          <h5>Về chúng tôi</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Giới thiệu</a>
            </li>
            <li class="menu-item">
              <a href="#">Chính sách bảo mật </a>
            </li>
            <li class="menu-item">
              <a href="#">Chính sách vận chuyển</a>
            </li>
            <li class="menu-item">
              <a href="#">Hình thức thanh toán</a>
            </li>

          </ul>
        </div>

      </div>
      <div class="col-md-2">

        <div class="footer-menu">
          <h5>Khám phá</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Sách</a>
            </li>
            <li class="menu-item">
              <a href="#">Tác giả</a>
            </li>
            <li class="menu-item">
              <a href="#">Thể loại</a>
            </li>
            <li class="menu-item">
              <a href="#">Tùy chọn</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-2">

        <div class="footer-menu">
          <h5>Tài khoản</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Đăng ký</a>
            </li>
            <li class="menu-item">
              <a href="#">Giỏ hàng</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-2">

        <div class="footer-menu">
          <h5>Trợ giúp</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Quy định đổi, trả và hủy đơn hàng</a>
            </li>
            <li class="menu-item">
              <a href="#">Hướng dẫn đặt hàng</a>
            </li>
            <li class="menu-item">
              <a href="#">Liên hệ</a>
            </li>
            <li class="menu-item">
              <a href="#">Thông báo</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
