<div class="row mt-3 mb-5 ">
  <div class="col-md-12 text-center menu-book ">
    <nav>
      <a href="/html/">Cổ điển</a> |
      <a href="/css/">Văn học</a> |
      <a href="/js/">Thiếu nhi</a> |
      <a href="/python/">Chuyên ngành</a> |
      <a href="/python/">Tình cảm</a> |
      <a href="/python/">Kiếm hiệp</a> |
      <a href="/python/">Tiên hiệp</a> |
      <a href="/python/">Khoa học</a> |
      <a href="/python/">Lịch sử</a> |
      <a href="/python/">Toán học</a>
    </nav>

  </div>
</div>
<!--TITTLE-->
<div>
  <h1 class="text-center">BOOK STORE</h1>
</div>
<!--CAROUSEL-->
<div class="container p-5">
  <div class="row">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img/hero/chrismas2.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2 style="color: chartreuse">MỪNG LỄ GIÁNG SINH</h2>
            <h4 style="color: yellow">Miễn phí gói quà <br/>Giảm 10% hoá đơn trên 500 nghìn</h4>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/img/hero/Hinh-chuc-Tet-dep-8.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/hero/chuctet.jpg" class="d-block w-100"
               alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-12 text-center">
      <div class="banner__pic">
        <img
          src="https://cdn0.fahasa.com/media/magentothem/banner7/Trang_Manga-Comic_Mainbanner_T10_Slide_840x320.jpg"
          alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div style="text-align: center">
          <h2>SẢN PHẨM BÁN CHẠY</h2>
        </div>
        <div class="featured__controls">
        </div>
      </div>
    </div>
    <div class="row featured__filter">
      <div class="col-lg-3">
        <div class="featured__item">
          <img class="featured__item__pic set-bg" src="../../assets/img/featured/lacda.jpg">
          <div>
            <h6><a href="#">Em Muốn Biết Vì Sao - Lạc Đà Có Bướu (Tái Bản 2018)</a></h6>
            <h5>37.000</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="featured__item">
          <img class="featured__item__pic set-bg" src="../../assets/img/featured/tiengnhat_176631.jpg">
          <div>
            <h6><a href="#">Tiếng Nhật Cho Mọi Người</a></h6>
            <br>
            <h5>71.000</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="featured__item">
          <img class="featured__item__pic set-bg" src="../../assets/img/featured/ttph.l_c-s_-t_ng-lai1.jpg">
          <div>
            <h6><a href="#">Lược Sử Tương Lai</a></h6>
            <br>
            <h5>114.000</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="featured__item">
          <img class="featured__item__pic set-bg" src="../../assets/img/featured/chiemtinh.jpg">
          <div>
            <h6><a href="#">Chiêm Tinh Học - Vận Dụng Trí Tuệ Về Các Vì Sao Vào Đời Sống</a></h6>
            <h5>252.000</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

